/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  min-width: 320px;
}

div#headerWrapper {
  grid-row-start: 1;
}

header {
  display: grid;
  grid-template-columns: 51px auto 44px;
  align-items: center;
  padding: 0.5rem 2vw;
}
header h1 {
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 0.5rem;
  color: black;
}

div#navWrapper {
  grid-row-start: 4;
}

div#hamburger a, div#closex a {
  display: block;
  padding: 0.8rem 2vw;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  text-align: right;
}

div#closex a {
  margin-right: 2vw;
}

nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}

nav {
  height: 100vh;
}
nav ul {
  border-bottom: 1px solid #eee;
}
nav ul li {
  border-top: 1px solid #eee;
}
nav ul li a {
  display: block;
  color: #333;
  padding: 0.9rem 2vw;
  text-decoration: none;
  text-align: right;
}
nav ul li a:hover {
  color: black;
}
nav ul li.active a {
  background-color: green;
}

div#mainWrapper {
  grid-row-start: 2;
}
div#mainWrapper h1 {
  color: black;
}
div#mainWrapper h2 {
  color: black;
  font-weight: 300;
}

form.my-form {
  margin: 1rem 16px;
}
form.my-form label {
  display: block;
  font-size: 0.8rem;
  color: black;
  padding-top: 0.2rem;
}
form.my-form h3 {
  font-size: 0.9rem;
  color: black;
  margin: 1.5rem 0 0.2rem 0;
  border-bottom: 1px solid #eee;
}
form.my-form input[type=text],
form.my-form input[type=tel],
form.my-form input[type=number],
form.my-form input[type=email],
form.my-form input[type=password],
form.my-form select {
  display: block;
  margin: 0.1rem 0 1rem 0;
  border: 1px solid #999;
  border-radius: 3px 3px 0 0;
  border-bottom-width: 5px;
  border-bottom-color: #555;
  font-size: 1rem;
  color: black;
  width: 250px;
  padding: 0.5rem 16px;
}
form.my-form input:required {
  border-bottom-color: lightcoral;
}
form.my-form input:focus {
  border-top-left-radius: orange;
}
form.my-form input:required:valid {
  border-bottom-color: rgb(75, 148, 75);
}
form.my-form input[type=submit] {
  border: none;
  background-color: orange;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0;
  width: 250px;
  font-size: 1.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

#footerWrapper {
  grid-row-start: 3;
  background: green;
  color: white;
}

footer {
  padding: 0.5rem 16px;
}
footer p.legal {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 35rem) {
  header {
    grid-template-columns: 51px auto auto;
    border-bottom: 1px solid #eee;
  }
  header div#phone {
    display: block;
    justify-self: center;
  }
  div#hamburger, div#closex {
    display: none;
  }
  nav {
    height: auto;
    justify-self: end;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    border: none;
  }
  nav ul li {
    border: none;
  }
  nav button {
    display: none;
  }
  nav ul, nav ul.open {
    position: relative;
    display: flex;
    background-color: transparent;
    width: auto;
  }
  nav ul li {
    border: none;
  }
  nav ul li a {
    color: #333;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-left: 0.2rem;
    transition: all 0.5s ease;
  }
  nav ul li a:hover {
    background-color: #eee;
    color: #333 !important;
  }
  nav ul li.active a {
    color: white;
  }
  div#headerWrapper {
    grid-row-start: 1;
  }
  div#navWrapper {
    grid-row-start: 2;
  }
  div#mainWrapper {
    grid-row-start: 3;
  }
  div#footerWrapper {
    grid-row-start: 4;
  }
}
@media only screen and (min-width: 60rem) {
  header, main {
    max-width: 1240px;
    margin: auto;
  }
  header {
    grid-template-columns: auto auto;
    border-bottom: 1px solid #eee;
  }
  nav {
    justify-self: end;
  }
  nav button {
    display: none;
  }
  nav ul, nav ul.open {
    position: relative;
    display: flex;
    justify-content: right;
    background-color: transparent;
    width: auto;
  }
  nav ul li {
    border: none;
  }
  nav ul li a {
    color: #333;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-left: 0.2rem;
    transition: all 0.5s ease;
  }
  nav ul li a:hover {
    background-color: #eee;
    color: #333 !important;
  }
  nav ul li.active a {
    color: white;
  }
}