/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: grid;
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $boldWeight;
    min-width: 320px;
}

// header
div#headerWrapper {grid-row-start: 1;}

    header {
        display: grid;
        grid-template-columns: 51px auto 44px;
        align-items: center;
        padding: .5rem 2vw;
        h1 {
            font-size: 1.6rem;
            font-weight: $lightWeight;
            padding-left: .5rem;
            color: $primaryColor;
        }
    }
    
// nav
div#navWrapper {grid-row-start: 4}

div#hamburger a, div#closex a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    text-align: right;
}

div#closex a {margin-right: 2vw;}
    
nav ul li {
    list-style-type: none;
    a {
        text-decoration: none;
    }
}   

nav{
    height: 100vh;
    ul{border-bottom: 1px solid #eee;}
    ul li{border-top: 1px solid #eee;}
    ul li a {
        display: block;
        color: #333;
        padding: .9rem 2vw;
        text-decoration: none;
        text-align: right;
        
    }
    ul li a:hover {color: $primaryColor;}
    ul li.active a {background-color: green;}
   
}

div#mainWrapper {
    grid-row-start: 2;
    h1 {
       color: $primaryColor;
       
    }
     h2{
        color: $primaryColor;
        font-weight: 300;
     }
}

form.my-form {
    margin: 1rem $gutter;
    
    label {
        display: block;
        font-size: .8rem;
        color: $primaryColor;
        padding-top: .2rem;
    }

    h3 {
        font-size: .9rem;
        color: black;
        margin: 1.5rem 0 .2rem 0;
        border-bottom: 1px solid #eee;
    }
    input[type=text],
    input[type=tel],
    input[type=number],
    input[type=email],
    input[type=password],
    select {
        display: block;
        margin: .1rem 0 1rem 0;
        border: 1px solid #999;
        border-radius: 3px 3px 0 0;
        border-bottom-width: 5px;
        border-bottom-color: #555;
        font-size: 1rem;
        color: black;
        width: 250px;
        padding: .5rem $gutter;
    }

    input:required {border-bottom-color: lightcoral;}
    input:focus{border-top-left-radius: orange;}
    input:required:valid{border-bottom-color: rgb(75, 148, 75);}

    input[type=submit] {
        border: none;
        background-color:$menuColor;
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        width: 250px;
        font-size: 1.2rem;
        -webkit-appearance: none;
        appearance: none;
    }
}

#footerWrapper {
    grid-row-start: 3;
    background: green;
    color: white;
}
footer {
    padding: 0.5rem $gutter;
       
    p.legal {
        margin: 0;
        font-weight: $boldWeight;
        text-align: center;
    }
}